/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-header-bg: #9D4EDD;  /* //#B57EDC; //#9370DB; //#a448ff; */
  --color-header-text: #111111;

  --color-body-bg: #f5f5f5;
  --color-body-text: #222222;
}

html.dark {
  --color-header-bg: #2D0A52;   /* //#3A0CA3;   //#4B0082;  */
  --color-header-text: #ffffff;

  --color-body-bg: #111827;     /* gray-900 */
  --color-body-text: #e5e7eb;   /* gray-200 */
}